.time-modal {
  position: absolute;
  width: 250px;
  height: 80px;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  z-index: 100;
  flex-wrap: wrap;
  &-item {
    width: 30%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    &.active {
      background-color: #1a83ff;
    }
    &:hover {
      border: 1px solid #1a83ff;
    }
  }
}
